<!-- Navigation bar start -->
<div class="blog-masthead">
  <div class="container">
  <nav class="blog-nav">
    <a class="blog-nav-item" href="/ghost/me/">@Me</a>
    <a class="blog-nav-item" href="/ghost/newpost/" data-toggle="tooltip" data-placement="bottom" title="添加文章"><i class="glyphicon glyphicon-pencil"></i></a>
    <a class="blog-nav-item" href="/ghost/posts/" data-toggle="tooltip" data-placement="bottom" title="查看文章"><i class="glyphicon glyphicon-list"></i></a>
    <a class="blog-nav-item" href="/ghost/comments/" data-toggle="tooltip" data-placement="bottom" title="查看评论"><i class="glyphicon glyphicon-comment"></i></a>
    <a class="blog-nav-item" href="/ghost/options/" data-toggle="tooltip" data-placement="bottom" title="修改设置"><i class="glyphicon glyphicon-cog"></i></a>
    <a class="blog-nav-item" href="/blog/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="查看站点"><i class="glyphicon glyphicon-eye-open"></i></a>
    <a class="blog-nav-item pull-right" href="/ghost/logout/" data-toggle="tooltip" data-placement="bottom" title="注销登录">
      <i class="glyphicon glyphicon-off"></i>
    </a>
  </nav>
  </div>
</div>
<!-- Navigation bar end -->
