{% include 'lab/general_meta.html' %}
<body>
<!-- Navigation bar start -->
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/">My Nook</a>
      <a class="blog-nav-item" href="/lab">Lab</a>
      <span class="blog-nav-item">这是一个实验项目展示。</span>
      <span class="blog-nav-item">This is a experimantal demo.</span>
    </nav>
  </div>
</div>
<!-- Navigation bar end -->

<iframe src="{{project_url}}"></iframe>

{% include 'lab/footer.html' %}
</body>
{% include 'blog/foot.html' %}
